# File di dati e output
*.dat
*.pkl
*.csv

# Ignore raw data folder, you can find the following data using the drive folder in the README:md
data_images/
data_histo/
Data

.venv
.python-version
uv.lock
main.py
*.png
*.pth